<div class="flex gap-2 mb-6">
  <img
    src="../../assets/Round3.png"
    alt="profile picture"
    class="w-32 h-auto"
  />
  <div>
    <div class="relative">
      <h1 class="text-black text-xl">
        karenne <span class="text-secondary text-lg">&#64;karenne</span>
      </h1>
      <span class="text-secondary absolute right-0 top-0">12/1/19</span>
    </div>
    <p class="text-secondary">
      You: I would greatly appreciate if you could retweet this if you think
      its worthy :)
    </p>
  </div>
</div>
