<section
  class="h-full"
  [class.!bg-black]="themeService.isDarkMode"
  [class.!text-white]="themeService.isDarkMode"
>
  <app-header headerTitle="<h1 class='text-xl'>Messages</h1>"></app-header>
  <div
  class="bg-tertiary w-full h-[85vh] pb-8 overflow-scroll"
  [class.!bg-black]="themeService.isDarkMode"
  [class.!text-white]="themeService.isDarkMode"
>

  <h1
    class="text-3xl font-bold text-black pl-6 mt-10"
    [class.!bg-black]="themeService.isDarkMode"
    [class.!text-white]="themeService.isDarkMode"
  >
    Find more accounts to follow
  </h1>
  <br />
  <p class="text-secondary text-sm pl-6 mt-4">
    Reposts, recommendations, and more will pop up here as you follow more
    accounts. Get started by finding some you're interested in.
  </p>

  <!-- <div class=" pb-8 overflow-scroll">
    <div class="border-b border-black sticky top-0 pb-6 bg-white z-20">
      <div class="flex w-5/6 text-secondary text-xl mt-0 mx-auto ">
        <input
          type="search"
          placeholder="Search for people and groups"
          class="w-full mt-4 bg-tertiary rounded-lg p-2 focus:outline-none"
        />
      </div>
    </div>
  
    <section class="w-full px-4 mt-2 pt-2">
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
    </section>
  </div> -->
  </div>
</section>
